@font-face {
  font-family: DorisPP;
  src: url(./DORISBR.TTF);
}

* {
  font-family: DorisPP, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: whitesmoke;
  color: cornflowerblue;
}

.tabs {
  display: flex;
  gap: 0.5em;
  /* width: 10vw; */
  /* height: 2vh; */
  background-color: lightcyan;
  padding: 1vh;
  padding-bottom: 0;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20vw;
  padding: 0.2vh 1vh;
  align-items: center;
  gap: 0.5em;
  background-color: gray;
  color: cyan;
  border-radius: 5px 5px 0 0;
}

.tab:hover {
  cursor: pointer;
  background-color: cornflowerblue;
}

.selected {
  background-color: cornflowerblue;
  /* color: gray; */
}

dialog {
  max-width: 320px;
  /* height: 50vh; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border-radius: 5px;
  border: none;
}

dialog form {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1em;
}

dialog p {
  display: flex;
  justify-content: space-between;
}

dialog form div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

dialog form div button {
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  /* width: 2vh;
  height: 2vh; */
  /* background-color: lightcyan; */
  /* color: gray; */
  /* border: none; */
  border-radius: 5px;
  /* transition: 0.5s; */
}

dialog form div button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px cyan;
  /* transform: scale(1.1); */
}

textarea {
  resize: none;
}

.todo-div {
  height: 60vh;
  width: 60vw;
  margin: 2vh auto;
  background-color: whitesmoke;
  border-radius: 5px;
}

.todo-div > h1 {
  /* text-decoration: underline; */
  /* line-height: 0.55em; */
  margin: 1vh;
  padding-top: 2vh;
  vertical-align: bottom;
  padding-bottom: 1vh;
  margin-bottom: 0;
  border-bottom: 5px solid gray;
  color: gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.new-todo {
  padding: 0 10px;
  background-color: cyan;
  color: gray;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
}

.new-todo:hover {
  cursor: pointer;
}

.clicked {
  transform: scale(0.9);
}
