@font-face {
  font-family: DorisPP;
  src: url(./DORISBR.TTF);
}

* {
  font-family: DorisPP, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: whitesmoke;
  color: cornflowerblue;
}

.tabs {
  width: 100%;
  /* height: 2vh; */
  background-color: lightcyan;
  padding: 1vh;
  padding-bottom: 0;
}

.tab {
  display: flex;
  width: fit-content;
  padding: 0.2vh 1vh;
  align-items: center;
  gap: 0.5em;
  background-color: gray;
  color: cyan;
  border-radius: 5px 5px 0 0;
}

.new-project {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 2vh;
  height: 2vh;
  background-color: cyan;
  color: gray;
  border: none;
  border-radius: 5px;
}

.new-project:hover {
  cursor: pointer;
}
